<h2>About the Project</h2>

<p>
Getting the geographic boundary of somewhere is sometimes painful because
</p>

<ul>
  <li>Many geocoding APIs don't provide boundary output</li>
  <li>Some geocoding APIs limit the use of its boundary output</li>
  <li>Official data sometimes doesn't exist</li>
  <li>Open dataset is usually packaged with more data than actually needed</li>
</ul>

<p>
So the Boundary.Now project is developed to extract the place boundary from the results of Nominatim API, a geocoder based on the world's largest geospatial database, OpenStreetMap.
</p>

<p>
Developed by <a href="https://www.linkedin.com/in/haoliangyu" target="_blank">Haoliang Yu</a> and opened at <a href="https://github.com/haoliangyu/boundary.now" target="_blank">GitHub</a>
</p>
