<md-toolbar class="white-frame" color="primary">
  <span class="clickable" (click)="openAboutDialog()">Boundary.Now</span>
  <span class="toolbar-filler"></span>
  <iframe src="https://ghbtns.com/github-btn.html?user=haoliangyu&repo=boundary.now&type=star&count=true&size=large"
          frameborder="0"
          scrolling="0"
          width="120px"
          height="30px">
  </iframe>
</md-toolbar>

<div class="flex-container content" fxLayout="row">
  <div class="flex-item search-sidebar white-frame" fxFlex="25%">
    <md-card>
      <md-card-title>Search place boundary</md-card-title>
      <md-input-container class="search-box">
        <input mdInput
               placeholder="place name"
               [(ngModel)]="placeName"
               (keyup.enter)="search()">
      </md-input-container>
      <button md-button
              class="search-button"
              color="primary"
              style="margin-left: 5px"
              (click)="search()"
              [disabled]="isGeocoding"
              md-tooltip="Search this location">
        <i *ngIf="!isGeocoding" class="fa fa-arrow-right"></i>
        <i *ngIf="isGeocoding" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      </button>
      <button md-button
              class="search-button"
              md-tooltip="Clear results"
              (click)="clear()">
        <i class="fa fa-remove"></i>
      </button>
    </md-card>
    <md-card *ngFor="let result of results; let i = index"
             class="search-result"
             [ngClass]="{ 'selected-result': selectedIndex === i }">
      <md-card-header class="clickable"
                      (click)="showBoundary(result.geojson, i)"
                      md-tooltip="Show boundary">
        <md-card-title>{{ result.display_name }}</md-card-title>
        <md-card-subtitle>
          {{ result.type }}
          (<span class="osm-link" (click)="openDetails(result.place_id)">details</span>)
        </md-card-subtitle>
      </md-card-header>
      <br>
      <button md-raised-button
              (click)="downloadGeoJSON(result)"
              md-tooltip="Download boundary in GeoJSON format">
        GeoJSON
      </button>
      <button md-raised-button
              (click)="downloadShapefile(result)"
              md-tooltip="Download boundary in Shapefile format">
        Shapefile
      </button>
      <button md-raised-button
              (click)="downloadKMZ(result)"
              md-tooltip="Download boundary in KMZ format">
        KMZ
      </button>
    </md-card>
    <md-card class="search-result" *ngIf="noResult">
      <md-card-subtitle>No Result</md-card-subtitle>
    </md-card>
  </div>
  <div class="flex-item" fxFlex>
    <div id="map"></div>
  </div>
</div>
